/* body {
    background-image: url("background.jpg");
} */

.grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

#container {
  width: 200px;
  height: 120px;
}

#list {
    float: left;
    /* display: flex; */
    flex-wrap: wrap;
    border-style: hidden;
    word-wrap: break-word
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#list li {
    word-wrap: break-word;
    flex-wrap: wrap;
} */

#crazyClock {
  display: flex;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 10vh;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 10px;
  height: 100vh;
}

.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 1vh;
  margin-top: -12vh;
  margin-left: -6vh;
  transform-origin: 50% 100%;
  background: white;
}

#welcome {
  font-family: "Nothing You Could Do";
}

#showItem {
  /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px; */
  margin-left: 200px;
}

li:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba(200, 63, 56, 0.2);

  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}

li:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 200, 63, 56, 0.0 );
  background: rgba(200, 60, 56, 0.2);
}
li { cursor: pointer; }
