/* body {
    background-image: url("background.jpg");
} */

.grid {
    display: grid;
    grid-template-columns: 2fr 8fr
}

#container {
    width: 200px;
    height: 120px;
}

/* #list {
    float: left;
    display: flex;
    flex-wrap: wrap;
    border-style: hidden;
    word-wrap: break-word
  }

#list li {
    word-wrap: break-word;
    flex-wrap: wrap;
} */

#crazyClock {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 10vh;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 10px;
    height: 100vh;

}

.el {
    position: absolute;
    opacity: 1;
    width: 2px;
    height: 1vh;
    margin-top: -12vh;
    margin-left:-6vh;
    transform-origin: 50% 100%;
    background: white;
}

#welcome {
    font-family: 'Nothing You Could Do'
}

#showItem {
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px; */
    margin-left: 200px;
  }